.root {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  flex: 0 0 280px;
}

.content {
  flex: 1 1 auto;
  padding: 24px;
  background: var(--mantine-color-dark-5);
  color: var(--mantine-color-white, #fff);
}